@page
@model VideoGameManager.Pages.Games.EditModel
@{
}

<h1>Edit Game</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <input type="hidden" asp-for="Game.Id" />

            <div class="form-group mb-3">
                <label asp-for="Game.Title" class="control-label"></label>
                <input asp-for="Game.Title" class="form-control" />
                <span asp-validation-for="Game.Title" class="text-danger"></span>
            </div>
            
            <div class="form-group mb-3">
                <label asp-for="Game.Genre" class="control-label"></label>
                <input asp-for="Game.Genre" class="form-control" />
                <span asp-validation-for="Game.Genre" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Game.Year" class="control-label"></label>
                <input asp-for="Game.Year" class="form-control" />
                <span asp-validation-for="Game.Year" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Game.Score" class="control-label"></label>
                <input asp-for="Game.Score" class="form-control" />
                <span asp-validation-for="Game.Score" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Game.Description" class="control-label"></label>
                <textarea asp-for="Game.Description" class="form-control"></textarea>
                <span asp-validation-for="Game.Description" class="text-danger"></span>

            </div>

            <div class="form-group mb-3">
                <label asp-for="Game.DeveloperId" class="control-label">Developer</label>
                <select asp-for="Game.DeveloperId" class="form-control" asp-items="Model.DeveloperList">
                    <option value="">-- Select a Developer --</option>
                </select>
                <span asp-validation-for="Game.DeveloperId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
                <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>
