@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">
        Welcome to your video game library
    </h1>
    <img src="https://i.redd.it/uj486swixf001.jpg" alt="Game library" , height="520", width="1060">
</div>
